# set ansible ENVIRONMENT to PATH=$PATH:/usr/share/easy-rsa/3.0.3/
port 1194
proto udp
dev tun
sndbuf 0
rcvbuf 0
ca {{ openvpn_base_directory}}/ca.crt
cert {{ openvpn_base_directory}}/easy-rsa/pki/{{ openvpn_server_name }}.crt
key {{ openvpn_base_directory}}/easy-rsa/pki/{{ openvpn_server_name }}.key
dh {{ openvpn_base_directory}}/easy-rsa/pki/dh.pem
auth SHA512
tls-auth {{ openvpn_base_directory}}/ta.key 0
topology subnet
server 10.8.0.0 255.255.255.0
ifconfig-pool-persist ipp.txt
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"
push "{ openvpn_private_ipv4 } { openvpn_private_ipv4_subnet }"
keepalive 10 120
cipher AES-256-CBC
comp-lzo
user nobody
group nogroup
persist-key
persist-tun
status openvpn-status.log
verb 3
crl-verify crl.pem
management 127.0.0.1 5555